/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/
*{
	margin: 0px;
	padding: 0px;
}
#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	border: 1px solid #006680;
}
#banner{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}
#header{
	
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: #e8e8e8;
}
/*ETIQUETAS*/
body{
background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'arial';
color: black;
margin-left: 10px;
font-size: 25px;
 
}

h2{
font-family: 'Indie Flower', cursive;
color: black;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h3{
font-family: 'tahoma';
color: white;
font-size: 15px;
text-align: center; 
}

div#banner{
	background-image: url(../img/banner.jpg);
	width:1000px;
	height:130px;
	
}

header{
	width: 1000px;
	height: 30px;
	
}

div#menu{
width: 200px;
margin-top: 50px;

}
aside{
width: 800px;
margin-top: 50px;

}

div#menu ul{
list-style: none;
}

div#menu li{
	margin-top: 10px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #006680;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #939393;
	-webkit-transition:padding-left 0.6s;
	color: white;

}
div#menu ul li:hover{
	padding-left: 50px;
}


aside{

	width: 280px;
	background: white;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{

	background: #666;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
}

p{

	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















